body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("res/nic_back.jpg");
  color: white;
}

header {
  text-align: center;
}

.card {
  border-radius: 10px;
  box-shadow: 7px 7px 7px 0px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.507);
  border: blue;
  margin: 10px;
  height: 300px;
  width: 275px;
  position: relative;
}
.card img {
  height: 300px;
  width: 275px;
  border-radius: 10px;
  object-fit: cover;
}
.card .tituloNoticia {
  color: white;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100px;
  width: 275px;
  text-shadow: 10px;
  font-size: x-large;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tituloNoticia h5 {
  text-align: center;
  padding: 1px;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
